<h1>Create User</h1>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Add User
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div form [formGroup]="createUserForm">
            <mat-form-field style="min-width: 20px">
                <mat-label>User-Name</mat-label>
                <input formControlName="name" id="name" matInput required>
              </mat-form-field>

              <mat-form-field style="min-width: 20px">
                <mat-label>User-PasswordHash</mat-label>
                <input formControlName="passwordHash" id="passwordHash" matInput unrequired>
              </mat-form-field>
        </div>

        <div> 
          <button type="button" style="margin-left: 10px" [disabled]="!createUserForm.valid" color="primary" (click)="onSave(); router.navigate(['/users/']); userService.reloadCurrentWindow()" mat-raised-button><mat-icon>save</mat-icon></button>
        </div>

    </mat-card-content>
</mat-card>

<button style="margin-top: 20px;margin-left: 20px;" mat-raised-button color="primary" (click)="router.navigate(['/users/'])">Go back</button>
<router-outlet></router-outlet>