<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1>Rooms</h1>

<div>
    <form>
        <button style="margin:5px;">create</button> 
    
        <button style="margin:5px;">update</button>

        <button style="margin:5px;">delete</button>
    
        <button style="margin:5px;">cancel</button>

        <button style="margin:5px;">submit</button>
    </form>

    <table style="width: 100%; margin: auto; margin-top: 10px" mat-table [dataSource]="roomsService.datasource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="roomName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RoomName</th>
            <td mat-cell *matCellDef="let element">
            {{ element.roomName}}
        </ng-container>

        <ng-container matColumnDef="roomNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RoomNumber</th>
            <td mat-cell *matCellDef="let element">
            {{ element.roomNumber}}
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="roomsService.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: roomsService.displayedColumns;"></tr>
    </table>
</div>

<router-outlet></router-outlet>