<h1>Create Device</h1>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Add Device
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div form [formGroup]="createDeviceForm">
            <mat-form-field style="min-width: 20px">
                <mat-label>Device-Name</mat-label>
                <input formControlName="name" id="name" matInput required>
              </mat-form-field>

              <mat-form-field style="min-width: 20px">
                <mat-label>Device-Brand</mat-label>
                <input formControlName="brand" id="brand" matInput unrequired>
              </mat-form-field>

              <mat-form-field style="min-width: 20px">
                <mat-label>Device-EAN</mat-label>
                <input formControlName="ean" id="ean" matInput unrequired>
              </mat-form-field>

              <mat-form-field style="min-width: 25px; margin: 25px">
                <mat-select [formControlName]="'category'" placeholder="Category" floatLabel="never" [(ngModel)]="selectedCategory" name="category">
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{category.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div> 
          <button type="button" style="margin-left: 10px" [disabled]="!createDeviceForm.valid" color="primary" (click)="onSave(); router.navigate(['/devices/']); deviceService.reloadCurrentWindow()" mat-raised-button><mat-icon>save</mat-icon></button>
          <button style="margin-top: 20px;margin-left: 20px;" mat-raised-button color="primary" (click)="router.navigate(['/devices/'])">Go back</button>
        </div>

    </mat-card-content>
</mat-card>

<router-outlet></router-outlet>