<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
    <h1>Installations</h1>
    <button type="button" color="primary" (click)="router.navigate(['/create-installation/'])" mat-raised-button><mat-icon>add</mat-icon></button>
    <br>
</div>

<div>     
    <table style="width: 100%; margin: auto; margin-top: 10px" mat-table [dataSource]="installAtService.datasourcex" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let element">
            {{ element.id }}
        </ng-container>

        <ng-container matColumnDef="roomNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RoomNumber</th>
            <td mat-cell *matCellDef="let element">
            {{ element.room.roomNumber }}
        </ng-container>

        <ng-container matColumnDef="roomName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>RoomName</th>
            <td mat-cell *matCellDef="let element">
            {{ element.room.roomName }}
        </ng-container>

        <ng-container matColumnDef="deviceName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DeviceName</th>
            <td mat-cell *matCellDef="let element">
            {{ element.device.name }}
        </ng-container>

        <ng-container matColumnDef="deviceBrand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DeviceBrand</th>
            <td mat-cell *matCellDef="let element">
            {{ element.device.brand}}
        </ng-container>

        <ng-container matColumnDef="installedFrom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>InstalledFrom</th>
            <td mat-cell *matCellDef="let element">
            {{ element.user.name}}
        </ng-container>
        
        <ng-container matColumnDef="installDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>InstallDate</th>
            <td mat-cell *matCellDef="let element">
            {{ element.installDate}}
        </ng-container>

        <ng-container matColumnDef="deinstall">
            <th mat-header-cell *matHeaderCellDef>Deinstall</th>
            <td mat-cell *matCellDef="let element">
                <button type="button" color="primary" (click)="onDeinstall(element.id); installAtService.getInstallAts()" mat-raised-button><mat-icon>delete</mat-icon></button>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="installAtService.displayedColumnsx"></tr>
        <tr mat-row *matRowDef="let row; columns: installAtService.displayedColumnsx;"></tr>
    </table>
</div>

<router-outlet></router-outlet>